*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav.footer.header,aside{display: block;}

html.body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1 h2 h3 h4 h5 h6{font-size: inherit; font-weight: 400;}

/* Обнуляющие свойста весь пакет */
@font-face {
	font-family: 'Conv_gilroy-regular';
	font-display: swap;
	src: url("/fonts/font__gilroy__regular/gilroy-regular.eot");
	src: local("O"), url("/fonts/font__gilroy__regular/gilroy-regular.woff") format("woff"), 
			url("/fonts/font__gilroy__regular/gilroy-regular.ttf") format("truetype"), 
			url("/fonts/font__gilroy__regular/gilroy-regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_gilroy-medium';
	font-display: swap;
	src: url("/fonts/font__gilroy__medium/gilroy-medium.eot");
	src: local("O"), url("/fonts/font__gilroy__medium/gilroy-medium.woff") format("woff"), 
			url("/fonts/font__gilroy__medium/gilroy-medium.ttf") format("truetype"), 
			url("/fonts/font__gilroy__medium/gilroy-medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
/* Подключенные шрифты */
.full_screen {
  max-width: 100%;
  min-height: 100vh;
  background-image: url(/images/img/bgc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
	text-align: center;
}
.contanier {
	max-width: 1130px;
	padding: 0px 15px;
	overflow: hidden;
	margin: 0 auto;
}
.header {
	text-align: center;
	position: relative;
}
.list {
	display: flex;
	justify-content: center;
	text-align: center;
}
.list li{
	font-size: 0.875rem;
	padding: 40px 20px 20px 20px;
}
.list li a{
	color: #fff;
}
.list li a img{
	padding: 0px 16px 0px 0px;
}
.profil {
	padding: 40px 0px 0px 0px;
}
.profil img {
	padding: 0px 15px 0px 0px;
}
.list li:nth-child(3){
	padding: 40px 222px 40px 20px;
}
.list li:nth-child(4){
	padding: 40px 40px 40px 222px;
}
.logo {
	display: inline-block;
	position: absolute;
	top: 20px;
	left:  center;
	margin: 0px 0px 0px -108px;
}
.h1__row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	align-self: flex-end;
}
.h1 {
}
.button {
}
.full__screen__bottom {
}
.full__screen__row {
	display: flex;
}
.full__screen__img {
}
